<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat add user</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form action="/add_user" method="post" id="info-form">
        <fieldset>
            <legend>Add User</legend>
            <div class="info-field">
                <label for="username">Username</label>
                <input name="username" id="username" type="text">
            </div>
            <div class="info-field">
                <label for="password">Password</label>
                <input name="password" id="password" type="text">
            </div>
            <div class="info-field">
                <label for="name">Name</label>
                <input name="name" id="name" type="text">
            </div>
            <div class="info-field">
                <label for="loacation">Location</label>
                <input name="location" id="location" type="text">
            </div>

        </fieldset>
        <input type="submit" value="Add User">
    </form>
    <script>
        document.getElementById('username').value="";
        document.getElementById('password').value="";
    </script>
</body>
</html>