<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet"> 
    <script src="../static/admin.js" defer></script>
</head>
<body>
    <form action="/change_password" method="post" id="info-form">
        <fieldset>
            <legend>Change Password</legend>
            <div class="info-field">
                <label for="new_password">New password</label>
                <input name="new_password" id="new_password" type="text" required>
            </div>
        </fieldset>
        <input type="submit" value="Change Password">
    </form>
    {% include 'error.html' %}
</body>
</html>